

.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 10vh;
    grid-template-areas: "h"
                        "m"
                        "f"
    ;
}


header{
    grid-area: h;
    background-color: teal;
}

main{
    grid-area: m;
    

    display: flex;
    justify-content: center;
    align-content: center;
}

.resenha{
    margin: 5rem 0;
    background-color: white;
    width: min(80%, 1000px);

    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.resenha-head{
    margin: 3rem 0;
}

.resenha-head img{
    margin: 4rem 0;
    height: min(15rem, 20rem);
    width: min(600px, 70%);
}

.resenha-head h1{
    margin: 2rem 1rem 1.5rem;
}

.text-resenha{
    font-size: 1.8rem;
    padding: 0 5rem;
}

.container2{
    display: flex;
    justify-content: center;
 
}

.text-resenha blockquote{
    width: 50%;
    text-align: center;
     
}

.text-resenha p{
    text-align: justify;
}

.text-resenha p, .text-resenha blockquote{
    margin-bottom: 2rem;
}

.text-resenha img{
    width:max(25vw, 250px);
}

.info-book{
    margin: 6rem 0 6rem 4rem;
    display: grid;
    grid-template-columns: 40% 60%;
   
    gap: 2rem;

    align-content: center;
    justify-content: center;
}

.info-book img{    
    height: 200px;
 
}

.info-book ul{
    width: 80%;
    text-align: left;
}

.info-book a{
    color: black;
    text-decoration:underline;
}


footer{
    grid-area: f;
    background-color: black;
}