
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}




/*------------------- Carousel--------------------- */



.item{
    margin-top: 3rem;
    height: min(30vh, 500px);

}

.item> a> div{
    margin: auto;

    width: 90%;
    height: 70%;
    
    
}


.checked{
    color: var(--yellow);
}


/* IMG 00 */

#img-01{
    background: url(/img/capas/anne_frank.jpg) no-repeat center/contain;
}

#img-02{
    background: url(/img/capas/para_todos_os_garotos.jpg) no-repeat center/contain;
}

#img-03{
    background: url(/img/capas/ligadas_e_antenadas.jpg) no-repeat center/contain;
}

#img-04{
    background: url(/img/capas/rainha_vermelha.jpg) no-repeat center/contain;
}

#img-05{
    background: url(/img/capas/prometida.jpg) no-repeat center/contain;
}

#img-06{
    background: url(/img/capas/princesas.jpg) no-repeat center/contain;
}




/* ------------------Quem somos------------------ */
main #quem{
    margin: 5vh 0;
    border-bottom: var(--black) solid 1px;
    
    text-align: justify;

    width: 100%;

}

#as_meninas{
    height: 30vh
}

#foto{
    width: 100%;
    height: 100%;
    background:url(/img/2.1.png) no-repeat center/contain;
    
}

#text-quem{
    
   margin: 1rem 3rem;

}

 blockquote{
    margin-top: 3rem;
    text-align: right;
}

/* Resenhas */

.cards{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    margin-bottom: 5rem;
}

.card{
    margin: 40px;
    position: relative;
    max-width: 250px;
    max-height: 350px;
}

.card > h3{
    display: block;

    color: white;
    text-align: center;

    background-color:var(--green) ;
    padding: 2%;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.card img{
    width: 100%;
    height: 90%;
    object-fit: cover;
    display: block;
    position: relative;
}

.card-desc{
    display: block;
    font-size: 1.6rem;
    position: absolute;
    height: 0;
    top: 0;
    opacity: 0;
    padding: 18px 8%;
    background-color: white;
    transition: .9s ease;
}

.card:hover .card-desc{
    opacity: 1;
    height: 100%;
}


/* Contatos */



.contacts{
    display: flex;

    flex-wrap: wrap;
    flex-direction: row;

    gap: 4rem;

    padding: 0 2rem;
}

.contact-card{
    position: relative;
    max-width: 250px;
    max-height: 350px;

    background: white;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;

    
}

.contact-card:hover {
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.2);
  }

.contact-card > img{
    margin-top: 1rem;
    width:90%;

    border: black dotted 1px;
}

.contact-card h4{
    margin: .3rem 0 1rem 0;
}

.contact-card a{
    width: 40%;
}

.contact-card a img{
    width: 32px;
    margin: 1rem 1rem 2rem;

    transition: 2s;
}

.contact-card a img:hover{
    width: 32.5px;
    filter: brightness(0);
}



/* Footer */

footer{
    height: 5rem;
    margin-top: 6rem;
    text-align: center;
    display: flex;
    justify-content: center;

    background: var(--orange);
}

footer p{
    align-self: center;
    color: cornsilk;
}




/* ---------------Responsive-------------- */

@media (min-width: 800px)
{
    #quem{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
        justify-content: center;
        align-content: center;
        

    }

    #as_meninas{
        height:100%;
        margin-left: 3rem;
    }

    #text-quem{
        margin-right: 3rem;
        width: min(40vw, 500px);
        padding: 8rem 0;
}
}